[Desktop Entry]
Name=kawaboard
Comment=Kawaii drawing board with utilities!
Exec=kawaboard
Terminal=false
Type=Application
Categories=Graphics;Development;
